.three-items-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  align-content: center;
  margin-top: 15px;
  justify-items: center;
}

.center {
  text-align: center;
  justify-content: center;
  align-self: center;
}

.card {
  text-align: center;
  align-content: center;
  margin: 15px;
  color: #4b8a68;
  border: none !important;
  width: 230px;
  font-size: 1.2em;
}

.icon {
  max-width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card-body {
  color: black;
}

.card1 {
  grid-column: 2;
}

.card2 {
  grid-column: 3;
}

.card3 {
  grid-column: 4;
}

.jumbotron-squash {
  background: url("../img/photos/squash-soup.jpeg") center center;
  background-size: cover;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  margin-top: 10px;
  margin-bottom: 50px;
}

.order-now-button {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  grid-column: 6;
  grid-row: 5;
}

.p-text {
  font-size: 1.2em;
}

.p-text-2 {
  font-size: 1.1em;
}

.two-row-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-items: center;
}

.banner-img {
  max-width: 500px;
  grid-column: 1;
}
