.orderButton {
  color: white;
  background-color: #f53838;
  border: 2px solid white;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-weight: bold;
  max-width: 400px;
  cursor: pointer;
  font-size: 22px;
  text-decoration: none !important;
  color: white;
}

.orderButton:hover,
.orderButton:focus {
  background-color: #752929;
  text-decoration: none !important;
  color: white;
}
