body {
  margin: 0 auto;
  font-family: "Titillium Web", sans-serif;
  padding-bottom: 50px;
}

.banner-row {
  background-color: #4b8a68;
  color: white;
  text-align: center;
  padding: 1px;
}

.logo-row {
  text-align: center;
}

.logo {
  width: 120px;
  margin: 10px;
}

.navbar-row {
  background-color: black;
}

.nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #9dd1a6;
}

.navbar-brand {
  color: #c7d6ca;
  font-size: 26px;
  font-weight: bold;
  font-family: "Grand Hotel", cursive;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: white;
}

.orderButton {
  color: white;
  background-color: #f53838;
  border: 2px solid white;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-weight: bold;
  max-width: 400px;
  cursor: pointer;
  font-size: 22px;
}

.orderButton:hover,
.orderButton:focus {
  background-color: #752929;
}

.jumbotron {
  background: url("./img/banner/banner1.jpg") center center;
  background-size: cover;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
}

.jumbotronText {
  text-align: center;
  grid-column: 2;
  grid-row: 5;
  color: white;
  text-shadow: 1px 1px black;
}

.jumbotronButton {
  text-align: center;
  grid-column: 6;
  grid-row: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amaranth", sans-serif;
}

.stepTwo {
  display: inline;
}

.quantity {
  /*padding-top: 20px;*/
  text-align: center;
  margin-bottom: 20px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
button[class*="btnn"] {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
}

button:focus,
input:focus {
  outline: 0;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #c7d6ca;
}

.three-items-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  align-content: center;
  margin-top: 15px;
  justify-items: center;
}

.card {
  text-align: center;
  align-content: center;
  margin: 15px;
  color: #4b8a68;
}

.footer-title {
  text-align: center;
}

.icon {
  max-width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.fa {
  padding: 20px;
  font-size: 22px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover,
.fa:focus {
  opacity: 0.7;
  color: white;
  text-decoration: none;
  background-color: #4b8a68;
}

.fa-facebook {
  background: #9dd1a6;
  color: white;
}

.fa-google {
  background: #9dd1a6;
  color: white;
}

.fa-instagram {
  background: #9dd1a6;
  color: white;
}

.no-visible {
  font-size: 0;
}

.link {
  text-align: center;
}

.link:hover,
.link:focus {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.card1 {
  grid-column: 2;
}

.card2 {
  grid-column: 3;
}

.card3 {
  grid-column: 4;
}

.color1 {
  color: #4b8a68;
}

.color2 {
  color: #c7d6ca;
}

.color3 {
  color: #9dd1a6;
}

.color4 {
  color: #752929;
}

.color5 {
  color: #f53838;
}

.background-color-1 {
  background-color: #4b8a68;
}

.background-color-2 {
  background-color: #c7d6ca;
  padding: 15px 0;
}

.background-color-3 {
  background-color: #9dd1a6;
}

.background-color-4 {
  background-color: #752929;
}

.background-color-5 {
  background-color: #f53838;
}

.flavor {
  text-align: center;
  margin: 20px;
}
.contenedor {
  text-align: center;
}
.aa {
  margin-left: 30px;
}
ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
ol li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: #4b8a68;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}

.btn {
  text-align: center;
  color: white;
  background-color: #f53838;
  border: none;
}
.btn-container {
  margin-bottom: 20px;
  text-align: center;
}

.image-flavor {
  margin-bottom: 5px;
}

.stepOne {
  border: 5px solid white;
}
.stepOneSelected {
  border: 5px solid #f53838;
}
.w3-card-8 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.w3-margin {
  margin: 16px !important;
}
.w3-container {
  padding: 0.01em 16px;
}
.w3-center {
  text-align: center !important;
}
.w3-light-blue,
.w3-hover-light-blue:hover {
  color: #000 !important;
  background-color: white !important;
  width: 300px;
}
.w3-light-blue-selected,
.w3-hover-light-blue:hover {
  color: #000 !important;
  background-color: #c7d6ca !important;
  width: 300px;
}

.two-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  align-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-items: center;
}

.history-img {
  max-width: 500px;
  grid-column: 2;
}

.history-description {
  grid-column: 3 / 5;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}
